.moving-name {
  display: inline-block;
  animation: move-name 4s linear infinite alternate;
}

@keyframes move-name {
  0% { transform: translateX(0); }
  50% { transform: translateX(15px); }
  100% { transform: translateX(0); }
}
